parameters:
    exceptions:
        check:
            missingCheckedExceptionInThrows: true
            tooWideThrowType: true
        uncheckedExceptionClasses:
            - 'Error'
            - 'LogicException'
            - 'RuntimeException'
        uncheckedExceptionRegexes:
            - '|^PHPUnit\\|'
    excludePaths:
        - ../src/*Bundle.php
    ignoreErrors:
        -
            identifier: 'missingType.checkedException'
            paths:
                - '../tests/*'
    level: 10
    paths:
        - ../bin/
        - ../config/
        - ../src/
        - ../tests/
    tmpDir: ../var/cache/phpstan
    treatPhpDocTypesAsCertain: false
