parameters:
    exceptions:
        check:
            missingCheckedExceptionInThrows: true
            tooWideThrowType: true
        uncheckedExceptionClasses:
            - 'Error'
            - 'LogicException'
            - 'RuntimeException'
        uncheckedExceptionRegexes:
            - '|^PHPUnit\\|'
    excludePaths:
        - ../src/JmfGridBundle.php
    level: 10
    paths:
        - ../bin/
        - ../src/
        - ../tests/
    tmpDir: ../var/cache/phpstan
    treatPhpDocTypesAsCertain: false
