parameters:
    exceptions:
        check:
            missingCheckedExceptionInThrows: true
            tooWideThrowType: true
        uncheckedExceptionClasses:
            - 'LogicException'
            - 'RuntimeException'
    ignoreErrors:
        -
            identifier: 'missingType.checkedException'
            paths:
                - '../tests/*'
            reportUnmatched: false
    level: 10
    paths:
        - ../config/
        - ../src/
        - ../tests/
    tmpDir: ../var/cache/phpstan
    treatPhpDocTypesAsCertain: false
